<ion-view title="About" id="page10" style="background-color:#1A9755;">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/9H8gUZg8Rauur8mpZcuQ_flushing.jpg) no-repeat center;" scroll="false" class="has-header">
        <div>
            <font color="blu">
                <ul>
                    <li>~This app is used to find the restrooms and also bins in the vicinity.</li>
                    <li>~The restrooms for the comfort of the user have been classified into male, female and physically handicapped(western style).</li>
                    <li>~This allows the user to easily select the category based on his requirementy.</li>
                    <li>~Similarily the dust-bins are classified into recyclable and non-recyclable.</li>
                    <li>~Finally the user's choice is made easier by the ratings priovided by the previous users. Hope you have found it benefitial.
                    </li>
                </ul>
            </font>
        </div>
    </ion-content>
</ion-view>