<ion-view title="Developers" id="page4" style="background-color:#387ef5;">
   
    <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    
    
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
  <a ng-href="#/newpage" target="_self" href="#/newpage">
    
 
  <a ng-href="#/newpage" target="_self" href="#/newpage">
    
    
        <div class="list card">
            <div class="item item-divider">Yeshwanth Akurathi</div>
            <div class="item item-body">
                <div class="button-bar">
                    <a href="mailto:akurathiyeshwanth@gmail.com" id="developers-button11" style="font-weight:300;font-style:italic;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-android-mail"></a>
                    <a href="tel:+919964302744" id="developers-button13" style="font-weight:300;font-style:italic;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-ios-telephone"></a>
                </div>
            </div>
        </div>
        </a>
</ion-item>
        <div class="list card">
            <div class="item item-divider">S V Aditya</div>
            <div class="item item-body">
                <div class="button-bar">
                    <a href="mailto:aditya.siriguppa@gmail.com" id="developers-button14" style="font-weight:300;font-style:italic;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-android-mail"></a>
                    <a href="tel:+919964994600" id="developers-button16" style="font-weight:300;font-style:italic;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-ios-telephone"></a>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">V B Vineeth Reddy</div>
            <div class="item item-body">
                <div class="button-bar">
                    <a href="mailto:harryvineeth@gmail.com" id="developers-button17" style="font-weight:300;font-style:italic;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-android-mail"></a>
                    <a href="tel:+917760608643" id="developers-button19" style="font-weight:300;font-style:italic;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-ios-telephone"></a>
                </div>
            </div>
        </div>
         </a>
</ion-item>
    </ion-content>
     