<ion-view title="Restroom" id="page2" style="background-color:#1A9755;">
    <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    <ion-content overflow-scroll="true"  padding="true" scroll="false" class="has-header">
        <ion-list>
           
            <ion-item class="item-thumbnail-left"  ui-sref="menu.male">
                 
                <img src="img/CBmw4brdS9yiXSU4aCfK_download (2).png">
                <h2>Male</h2>
                <p>Restroom</p>
                
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.female">
                <img src="img/42wgrpBQXGzd1ndsdi7A_female150LG.jpg">
                <h2>Female</h2>
                <p>Restroom</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="menu.pHC">
                <img src="img/OXpdLZGkS0qljbtxpNm9_download.png">
                <h2>Physically Challenged</h2>
                <p>Restroom</p>
            </ion-item>    
        </ion-list>
    </ion-content>
        
</ion-view>